body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background: #ff9933;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%; /* 區塊佔滿容器寬度 */
    max-width: 600px; /* 最大寬度限制 */
    margin-bottom: 20px;
    text-align: center; /* 區塊內內容置中 */
}

.member {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto 20px; /* 自動置中並與下一組員區塊保持距離 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
}
